$main:#880ae2;
$deep-main:#6e00bd;
$deeper-main:#4a037c;
$light : #f7f7f7ce;
$white : #fff;
$red:rgb(255, 0, 0);
$lime:rgb(19, 218, 19);
$dark:#1E1F21;
$lightDark:#1E1F21;
$blue:rgb(0, 0, 255);
$primary:#3882F6;
$DashPrimary: #283046;
$DashDark: #161D31;
$Green: #37BC9C;
$Danger:#F44D7C;
$Warning: #F9C900;